body {
  margin: 0;
  font-family: 'Lato', Georgia, 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Navbar styles */

.color-nav {
  background-color: #000000;
}

.navButtons {
  margin: auto;
}

.myBtn {
  border: solid;
  border-width: 2px;
  background-color: seashell;
  border-radius: 18px;
  box-shadow: inset 0 0 12px #000000;
  min-width: 10em;
  margin: 5% 2%;
  font-size: small;
}

.glow-on-hover {
  border: none;
  outline: none;
  color: #fff;
  background: seashell;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: seashell;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: seashell;
  box-shadow: inset 0 0 12px #000000;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* Toolbar */
.toolbar {
  background-image: linear-gradient(to right, #202020, #343434);
  max-width: 97%;
  margin: 1%;
  border-radius: 8px;
  padding: 1%;
}

.toolBtns {
  margin: auto;
}

.btn {
  min-width: 10em;
}

/* Toolbar styles end */

/* Main panels */
.grid {
  max-width: 97%;
  color: #ffffff;
  margin: 1% 0;
}

.leftPanel {
  border-radius: 8px;
}

.leftLED {
  background-color: #000000;
  height: 84%;
}

.LED-text {
  padding-top: 12%;
  color: greenyellow;
}

.babyYoda {
  padding: 8%;
}

.midPanel {
  border-radius: 8px;
  min-height: 650px;
  margin: 0 1%;
}

.rightPanel {
  border-radius: 8px;
}

.allPanels {
  border: solid;
  border-color: #000000;
  background-image: linear-gradient(to right, #202020, #343434);
  box-shadow: inset -5px -5px 5px #252525;
}

.mainPic {
  padding: 1% 0;
}
/* Main panels styles end */

/* Modals start */
.loginModal {
  padding: 10% 0 0 22%;
}

.logHeader {
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.intModal {
  padding: 6% 6%;
}

.allModals .modal-content {
  background-image: url('assets/cover/bg-brushed-metal.jpg');
  border-radius: 8px;
  box-shadow: inset 0 0 6px #000000;
}

/* Modals styles end */

/* Signup */
.signupGrid {
  max-width: 96%;
  margin: 2% 2% 4% 2%;
}

.welcome {
  padding: 12% 12%;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.signup {
  border: solid;
  border-radius: 8px;
  padding: 2% 12%;
  background-color: lightgray;
  box-shadow: 5px 5px 15px;
}

.location {
  display: inline-block;
  align-content: space-between;
}

/* Signup styles end */

/* Profile styles */
.profilePanels {
  background-image: linear-gradient(to right, rgb(165, 180, 196), lightgray);
  color: #000000;
  border-radius: 15px;
  margin: 2%;
}
/* Profile styles ends */

/* Search Artist styles */
.searchPanel {
  background-image: linear-gradient(to right, rgb(165, 180, 196), lightgray);
  color: #000000;
  border-radius: 15px;
  margin: 12%;
  padding-bottom: 72%;
}
.searchBy {
  padding-top: 6%;
  text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
}
.resultCards {
  width: 98%;
  height: 6%;
  background-image: linear-gradient(to right, rgb(165, 180, 196), lightgray);
  color: #000000;
  margin: 6% auto;
}
.searchArtistTxt {
  padding: auto;
}
/* Search Artist styles end */

/* Search Artist styles */
.resultCards {
  width: 98%;
  height: 6%;
  background-image: linear-gradient(to right, rgb(165, 180, 196), lightgray);
  color: #000000;
  margin: 6% auto;
}

.searchArtistTxt {
  padding: auto;
}
/* Search Artist styles end */

/* My Collaborators Carousel */
.friendsCarousel {
  margin: 24px 100px 36px 100px;
  background-color: #000000;
  border-radius: 15px;
}
/* My Collaborators Carousel styles ends */

/* Footer */
.page-footer {
  margin-top: 1%;
  background-color: #000000;
  color: #ccc;
  padding: 20px 0 7px 0;
}

.footer-copyright {
  padding: 6px 0;
}
/* Footer styles end */
